    # Global HTTP/3 settings
    quic_retry on;
{% if nginx_certbot_quic_gso is true %}
    quic_gso on;
{% endif %}

    http3_max_concurrent_streams 256;  # Twice the default value
    http3_stream_buffer_size 128k;     # Twice the default value

    # Generate this key using: openssl rand -base64 32
    quic_host_key /etc/nginx/snippets/quic_host.key;